data/
prepare_data/share/
*__init__.py*
*__pycache__*
processed_data/
train/t2t_train
train/t2t_data
translate_zhen_ai-*-*-of-*
*.tgz
*.zip
*.rar
*.lang1
*.lang2
*.zh
*.en
.idea/
.keras/
.matplotlib/
